html,body{
    margin: 0;
    padding: 0;
	width:100%;
	height:100%;
}
div{
  padding: 20px;
}
input{
  height: 30px;
  width: 230px;
  font: normal 15pt arial;
  padding: 5px;
  margin-bottom: 25px;
  border-radius: 16px;
  
}
#bt{
  border-radius: 12px;
  width: 115px;
  height: 55px;
}
section{
  height: 550px;
  width: 323px;
  top: 10%;
  left: 38%;
  border-radius: 12px;
  font: normal 18pt arial;
  text-align: center;
  background-color: rgb(46, 56, 54);
  color: rgb(255, 255, 255);
  position: absolute;
  
  margin: 0 auto;
}
canvas{
    display:block;
    vertical-align:bottom;
  }
#particles-js{
    width: 100%;
    height: 100%;
    padding: 0px;
    background-color: #253635;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }